body {
  margin: 20px;
  background: rgb(24, 24, 24);
  color: rgb(161, 161, 161);
}

h1,h2,h3,h4 {
  color: rgb(161, 161, 161);
  text-align: center;
}

.participants {
  list-style-type: none;
}

.participant {
  position: relative;
  border: 1px solid rgb(161,161,161);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2px;
}

.participant .name {
  text-align: left;
  overflow-wrap: break-word;
  margin-right: 35px;
  padding: 5px;
}

.participant .score-hidden {
  display: none;
}

.participant .score {
  position: absolute;
  color: white;
  background: red;
  border-radius: 5px;
  padding: 3px;
  top: 0;
  right: 0;
  min-width: 2em;
  height: 2em;
  font-size: 8pt;
  text-align: center;
}

.button {
  background: rgb(24, 24, 24);
  border-radius: 5px;
  border: 1px solid rgb(161,161,161);
  color: rgb(161, 161, 161);
  font-size: 10pt;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.selected {
  border: 1px solid white;
}

.button:hover {
  background: rgb(54, 54, 54);
}

.button.reset {
  margin: 5px 0;
}

.main-container {
    float:left;
    position:relative;
    left:50%;
    clear: both;
}

.fixer-container {
    float:left;
    position:relative;
    left:-50%;
}

.list-of-floating-elements {
  list-style:none;
}

.floated {
  float:left; 
  margin-right: 10px;
  margin-bottom: 10px;
}
